<div class="grid-loading">
  @for (row of [1, 2, 3, 4, 5]; track row) {
    <div class="grid-loading__row">
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
      <app-skeleton-loader variant="text"> </app-skeleton-loader>
    </div>
  }
</div>
